<ul class="dropdown-menu">
  <li><a href="/profile/{{name}}">{{name}}</a></li>
  <li><a href="/preferences">Preferences</a></li>
  <li class="divider"></li>
  <li><a href="/logout">Logout</a></li>
</ul>