@import "bootstrap/variables.less";

@import "floatmsg.less";

body {
  padding-top: 50px;
  background-image: url('../img/stardust.png');
}

.nav.navbar-nav > li > a {
  padding-bottom: 10px;
}

.nav.navbar-nav > li.active > a {
  border-bottom: 5px solid @brand-primary;
}

footer.signature {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
}

.container.first {
  margin-top: 20px;
}

.align-center {
  text-align: center;
}

.spaced-top {
  margin-top: 12px;
}

.starshard-header {
  background-color: fade(#000, 25%);
  background-image: url('../img/1civil-repeat.png');
  border-bottom: 1px solid darken(@darkbg, 10%);
}

.starshard-header h1 {
  font-size: 48px;
  line-height: 60px;
}

.starshard-logo {
  min-width: 162px;
  min-height: 300px;
}

.cbg {
  padding: 8px 16px 8px 16px;
  margin-bottom: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border: 1px solid darken(@darkbg, 5%);
  background-color: fade(lighten(@darkbg, 7%), 80%);
}

.starshard-shards,
.starshard-users,
.starshard-logs {
  padding-left: 0;
}

.profile-img {
  max-width: 250px;
  max-height: 250px;
  &.full {
    max-width: 490px;
    max-height: 490px;
  }
  &.medium {
    max-width: 130px;
    max-height: 130px;
  }
  &.small {
    padding: 2px;
    max-width: 66px;
    max-height: 66px;
  }
  &.smallest {
    padding: 1px;
    max-width: 34px;
    max-height: 34px;
  }
}

.loading {
  display: block;
  min-height: 140px;
  background-image: url('../img/loading-animation-large.gif');
  background-position: center;
  background-repeat: no-repeat;
  &.small {
    min-height: 70px;
    background-image: url('../img/loading-animation-small.gif');
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
  body {
    
  }
}