<div class="jumbotron starshard-header">
  <div class="container">
    <h1>500</h1>
    <h3>That's an error.</h3>
    <p>A team of highly trained monkeys has been dispatched to deal with this situation. <br> If you see them, show them this message:</p>
    <pre>
{{path}}
{{error}}
    </pre>
  </div>
</div>