<div class="jumbotron starshard-header">
  <div class="container align-center">
    <img src="./img/starshard.svg" alt="Starshard logo" class="starshard-logo">
    <h1>SFEI Systems v4</h1>
    <p>Codename Starshard</p>
    <p><a href="/isn" class="btn btn-primary">About SFEI</a> 
    {{#unless user}}<a href="/login" class="btn btn-default">Login</a></p>{{/unless}}
    {{#if user}}<a href="/profile/{{user.name}}" class="btn btn-success">Your profile</a></p>{{/if}}
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="cbg">
        <h1>About SFEI</h1>
        <img class="img-thumbnail" src="/img/isn.jpg" alt="ISN">
        <p>Learn more about SFEI's projects from our Imaging Sequential Netowrk.</p>
        <p><a href="/isn" class="btn btn-primary">Goto ISN</a></p>
      </div>
    </div>
  </div>
</div>