<div class="jumbotron starshard-header">
  <div class="container align-center">
    <img src="./img/starshard.svg" alt="Starshard logo" class="starshard-logo">
    <h1>Welcome to Starshard.</h1>
    <p><a href="#" class="btn btn-primary">Learn More</a> <a href="#" class="btn btn-default">Login</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="cbg">
        <h1>Blog</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, ullam, ipsa facilis atque minus a sit culpa laboriosam repellat natus qui quaerat. Explicabo, aliquid sit eius earum amet perspiciatis commodi.</p>
      </div>
    </div>
  </div>
</div>