<script src="/js/application/starshard-ops{{#if production}}.min{{/if}}.js"></script>

<div class="container">
  <h1>SYSTEM OPERATIONS</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="cbg">
        <h3>ACTIVE SHARDS</h3>
        <div class="starshard-shards list-group">
        {{#each shards}}
          <a href="/{{href}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{name}}</h4>
            <p class="list-group-item-text">{{desc}}</p>
          </a>
        {{/each}}
        </div>
      </div>
      <div class="cbg">
        <h3>AVAILABLE USERS <a href="#" class="btn btn-success refresh-users pull-right"><i class="glyphicon glyphicon-refresh"></i></a></h3>
        <div class="users-list">

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="cbg">
        <h3>LOGS</h3>
        <div class="logs-filter row">
          <div class="col-xs-8">
            <div class="form-group">
              <input type="text" class="form-control query-logs" placeholder="Filter logs">
            </div>
          </div>
          <div class="col-xs-4">
            <div class="input-group">
              <input type="text" class="form-control query-logs-limit" placeholder="Limit">
              <span class="input-group-btn">
                <button class="btn btn-primary refresh-logs" type="button"><i class="glyphicon glyphicon-search"></i></button>
              </span>
            </div>
          </div>
        </div>
        <div class="logs-list">

        </div>
      </div>
    </div>
  </div>
</div>