<div class="container">
  <h1>SYSTEM OPERATIONS</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="cbg">
        <h3>ACTIVE SHARDS</h3>
        <ul>
        {{#each shards}}
          <li>{{name}} <br><i>{{desc}}</i></li>
        {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="cbg">
        <h3>AVAILABLE USERS</h3>
      </div>
    </div>
    <div class="col-md-12">
      <div class="cbg">
        <h3>LOGS</h3>
      </div>
    </div>
  </div>
</div>