<script src="/js/application/starshard-ops{{#if production}}.min{{/if}}.js"></script>

<div class="container">
  <h1>SYSTEM OPERATIONS</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="cbg">
        <h3>ACTIVE SHARDS</h3>
        <ul>
        {{#each shards}}
          <li>{{name}} <br><i>{{desc}}</i></li>
        {{/each}}
        </ul>
      </div>
      <div class="cbg">
        <h3>AVAILABLE USERS <a href="#" class="btn btn-success refresh-users pull-right"><i class="glyphicon glyphicon-refresh"></i></a></h3>
        <div class="users-list">

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="cbg">
        <h3>LOGS <a href="#" class="btn btn-success refresh-logs pull-right"><i class="glyphicon glyphicon-refresh"></i></a></h3>
        <div class="logs-list">

        </div>
      </div>
    </div>
  </div>
</div>