<script src="/js/angular/angular-file-upload{{#if production}}.min{{/if}}.js"></script>
<script src="/js/application/starshard-preferences{{#if production}}.min{{/if}}.js"></script>
<div class="container spaced-top">
  <div class="row">
    <div class="col-md-3">
      <div class="cbg">
        <ul class="list-group">
          <a href="/profile/{{user.name}}" class="list-group-item active">{{user.name}}</a>
          <a href="#profile-img" class="list-group-item">Update profile image</a>
          <a href="#password" class="list-group-item">Change password</a>
          <a href="#remove-account" class="list-group-item">Delete account</a>
        </ul>
      </div>
    </div>
    <div class="col-md-9" ng-controller="preferenceCtrl">
      <form id="profile-img" enctype="multipart/form-data" class="cbg">
        <h3>Update profile image</h3>
        <div class="well img-drop-zone" ng-file-drop ng-file-over>
          Drop image here, or <button class="btn btn-primary" ng-click="showFileInput=1">Choose an image</button>
          <input ng-file-select type="file" name="imageInput" id="imageInput" accept="image/*" ng-show="showFileInput">
        </div>
        <div class="progress progress-striped" style="">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
        <p class="text-subtle">Your profile should be at least 480px * 480px large.</p>
      </form>
      <div id="password" class="cbg form-horizontal">
        <h3>Change password</h3>
        <div class="form-group">
          <label for="password_old" class="control-label col-md-3">Old Password</label>
          <div class=" col-md-8">
            <input class="form-control" type="password" id="password_old" name="password_old" placeholder="Old Password" ng-model="password.password_o" ng-pattern="/^.{6,20}$/">
          </div>
        </div>
        <div class="form-group">
          <label for="password_new" class="control-label col-md-3">New Password</label>
          <div class=" col-md-8">
            <input class="form-control" type="password" id="password_new" name="password_new" placeholder="New Password" ng-model="password.password" ng-pattern="/^.{6,20}$/">
          </div>
        </div>
        <div class="form-group">
          <label for="password_new_confirm" class="control-label col-md-3">Confirm New Password</label>
          <div class=" col-md-8">
            <input class="form-control" type="password" id="password_new_confirm" name="password_new_confirm" placeholder="Confirm New Password" ng-model="password_r" ng-pattern="/^.{6,20}$/">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <button type="button" href="#" class="btn btn-primary" ng-click="changePassword()">Update Password</button>
          </div>
        </div>
      </div>
      <div id="remove-account" class="cbg form-horizontal">
        <h3>Delete account</h3>
        <div class="alert alert-danger">
          <p>Danger! This will delete your account and all its data. This action cannot be undone.</p>
        </div>
        <p>Please type your email address to confirm.</p>
        <p><input type="email" id="confirm_removal" name="confirm_removal" class="form-control" placeholder="Enter your email address to confirm." ng-model="email" ng-pattern="/^[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-z]+$/" ng-change="checkEmail()"></p>
        <button type="button" href="#" class="btn btn-danger account-delete\{{enableDelete? '':' disabled'}}" ng-click="deleteAccount()">DELETE ACCOUNT</button>
      </div>
    </div>
  </div>
</div>