<div class="jumbotron">
  <div class="container align-center">
    <h3>Welcome back, {{#if profile}}{{profile.name}}{{else}}traveller{{/if}}.</h3>
    <p>{{email}}</p>
    {{#if self}}
    <p><a href="/preferences#password" class="btn btn-default">Change Password</a></p>
    {{/if}}
  </div>
</div>